<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mgl.suppliersservice.dao.mappers.ContactsMapper">
    <resultMap id="Contact" type="com.mgl.suppliersservice.dao.entities.ContactEntity">
        <id property="id" column="id" />
        <result property="contactType" javaType="string" column="contact_type" />
        <result property="phoneNumber" javaType="string" column="phone_number" />
        <result property="emailAddress" javaType="string" column="email_address" />
        <result property="contactFirstName" javaType="string" column="contact_first_name" />
        <result property="contactLastName" javaType="string" column="contact_last_name" />
        <result property="supplierId" javaType="string" column="supplier_id" />
    </resultMap>

    <select id="getContacts" resultMap="Contact">
        SELECT
            *
        FROM suppliersdb.contacts AS c
        WHERE
            c.supplier_id = #{supplierId}
    </select>

    <insert id="insertContacts" parameterType="java.util.List">
        INSERT INTO suppliersdb.contacts (
            id,
            contact_type,
            phone_number,
            email_address,
            contact_first_name,
            contact_last_name,
            supplier_id
        )
        VALUES
        <foreach collection="list" item="current" open="(" separator="),(" close=");">
            #{current.id},
            #{current.contactType},
            #{current.phoneNumber},
            #{current.emailAddress},
            #{current.contactFirstName},
            #{current.contactLastName},
            #{current.supplierId}
        </foreach>
    </insert>
</mapper>